<div class="header">
    <nav>
        <div class="logo">
            <img src="./assets/images/logo.png" alt="logo" width="200px" height="200px">
        </div>
        <div class="menu-list">
            <ul>
                <li>home</li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">service</button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>blog</li>
                <li>pages</li>
                <li>contect</li>
            </ul>
        </div>
        <button class="btn">hire me</button>
    </nav>
</div>
