/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}